# Gradle
.gradle/
build/
.externalNativeBuild/
.cxx/

# Local configuration
local.properties

# Android Studio & IntelliJ
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Logs
*.log

# Build outputs
*.apk
output.json

# Android
captures/
*.hprof

# Keystore files
*.jks
*.keystore

# Firebase / Google Services
google-services.json

# macOS system file
.DS_Store
